* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}



.square {
  width: 200px;
  height: 200px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
