* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.container {
  text-align: center;
  font-size: 5rem;
}

button {
  min-width: 100px;
  height: 50px;
}
